<?xml version="1.0" encoding="UTF-8"?>
<configuration>

    <appender name="FILE" class="ch.qos.logback.core.FileAppender">
        <file>testFile.log</file>
        <append>true</append>
        <encoder class="ch.qos.logback.classic.encoder.PatternLayoutEncoder">

            <Pattern>
                %d{yyyy-MM-dd HH:mm:ss} [%thread] %-5level %logger{36} - %msg%n
            </Pattern>

        </encoder>
    </appender>

    <logger name="org.springframework" level="error" additivity="false">
        <appender-ref ref="FILE" />
    </logger>

    <logger name="com.goit.homeworks.restaurant" level="debug" additivity="false">
        <appender-ref ref="FILE" />
    </logger>

    <root level="info">
        <appender-ref ref="FILE" />
    </root>

</configuration>